${packageName}
-----
[![Build Status](https://magnum.travis-ci.com/tippenein/${packageName}.svg?token=oEd198sTq2JwZqn9DHTF&branch=master)](https://magnum.travis-ci.com/tippenein/${packageName})


# install to ~/.local/bin
stack install

# Configure & build the package.
stack build

# Test package.
stack test
